@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: white;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: Nunito-Bold;
  src: url("/public/assets/font/Nunito/static/Nunito-Bold.ttf") format("opentype");
}

.rotation-hero{
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.hero{  
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(/public/assets/img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}